.flash-box
.wrapper
  = render '/devise/shared/side_bar'
  .chat-main
    .chat-main__group-name-header
      .chat-main__group-name-header__zone__top
        .chat-main__group-name-header__zone__top__now
          = @group.name
        .chat-main__group-name-header__zone__top__now__list
          Member : 
          .chat-main__group-name-header__zone__top__now__list__name
          - @group.users.each do |chatMemberName|
            = chatMemberName.name
            
      = link_to edit_group_path(params[:group_id]), class:"chat-main__group-name-header__zone__top__edit" do
        .chat-main__group-name-header__zone__top__edit__detail
          Edit
    .messages
      = render @messages
    .form-zone
      = form_for [@group, @message] do |f|
        .form-zone__config
          .form-zone__config__detail
            = f.text_field :message, class: 'form-zone__config__detail__text', placeholder: 'type a message'
            = f.label :image, class: 'form-zone__config__detail__text__takeover' do
              = fa_icon 'picture-o', class: 'form-zone__config__detail__text__takeover-icon'
              = f.file_field :image, class: 'form-zone__config__detail__text__takeover-none'
          = f.submit 'Send', class: 'form-zone__config__detail-send'