.flash-box
.wrapper
  .chat-side
    .menu-header
      .menu-header__box
        .menu-header__box__user-name
          LGTMもらう‼️
        .menu-header__box__icon
          = link_to "/groups/user", class:"menu-header__box__icon__white" do
            %i.fa.fa-edit
          = link_to "/users/edit", class:"menu-header__box__icon__white" do
            %i.fa.fa-cog
    .groups-group-zone
      = link_to '/groups/messages', class:"groups-group-zone__font" do
        .groups-group-zone__font__group-name
          GroupTitle
        .groups-group-zone__font__message
          まだメッセージはないZE！！
  .chat-main
    .chat-main__group-name-header
      .chat-main__group-name-header__zone__top
        .chat-main__group-name-header__zone__top__now
          グループ名がはいりますよ
        .chat-main__group-name-header__zone__top__now__list
          Member : 
          .chat-main__group-name-header__zone__top__now__list__name
            ていてていてい
      = link_to "/groups/edit", class:".chat-main__group-name-header__zone__top__edit" do
        .chat-main__group-name-header__zone__top__edit__detail
          Edit
    .messages
      .message-detail
        .message-detail__zone
          .message-detail__zone__toker
            海馬瀬戸
          .message-detail__zone__date
            2019/09/02(Mon) 12:00:00
        .message-detail__text
          見るがいい！！そして慄くが良い！！我が僕！！最強のドラゴン！！
    .form-zone
      %form{action: "/groups/messages", class:"form-zone__config", method: "post"}
        .form-zone__config__detail
          %input{type: "text", class:"form-zone__config__detail__text", placeholder:"type a message"}
          %label.form-zone__config__detail__text__takeover
            = fa_icon 'picture-o', class: 'form-zone__config__detail__text__takeover-icon'
            %input.form-zone__config__detail__text__takeover-none{type: 'file'}
        %input{type: "submit", value:"Send", class:"form-zone__config__detail-send"}