.chat-side
  .menu-header
    .menu-header__box
      .menu-header__box__user-name
        = current_user.name
      .menu-header__box__icon
        = link_to new_group_path, class:"menu-header__box__icon__white" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user.id), class:"menu-header__box__icon__white" do
          %i.fa.fa-cog
  .groups-group-zone
    - current_user.groups.each do |group|
      = link_to group_messages_path(group), class:"groups-group-zone__font" do
        .groups-group-zone__font__group-name
          = group.name
        .groups-group-zone__font__message
          = group.show_last_message